@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=DotGothic16&family=Indie+Flower&family=Open+Sans&display=swap");

.App {
  text-align: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, #e7ffd9 0%, #d9e7ff 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-top: 20px;
  font-family: "Indie Flower", cursive;
  font-size: 2.5em;
  color: #48a4e6;
}

.logo {
  height: 2.25rem;
  width: 1.5rem;
  margin-right: 13px;
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1d9059de-ffc4-4479-9fcf-03972a53ab72/db3t8gg-1f7bfc1b-6181-4459-b74c-9bd8ee1f11d3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMWQ5MDU5ZGUtZmZjNC00NDc5LTlmY2YtMDM5NzJhNTNhYjcyXC9kYjN0OGdnLTFmN2JmYzFiLTYxODEtNDQ1OS1iNzRjLTliZDhlZTFmMTFkMy5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.YNnfYdYvhq2FpEpSStb1IUG6UB_6X4CIgT9rZA07QTE);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(70deg);
}

.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}

.message-row {
  width: 100%;
}

.message {
  background: rgb(165, 151, 253);
  color: white;
  border-radius: 10px;
  margin: 7px;
  display: inline-block;
  padding: 4px 12px;
  position: relative;
}

.message-name {
  position: absolute;
  top: -9px;
  font-size: 0.45rem;
  color: black;
  font-weight: old;
}

.text-input {
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid white;
  height: 2.5rem;
  font-family: "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  position: absolute;
  right: 0.65rem;
  top: 0.5rem;
  border-radius: 100%;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  outline: none;
  height: 1.4rem;
  width: 1.4rem;
}

.send-button[disabled] {
  background: grey;
  cursor: default;
}

.input {
  height: 1.65rem;
  width: calc(100% - 1rem);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid white;
  color: white;
  padding-left: 10px;
}

.namePicker {
  justify-self: end;
}
